.box1{
    background-color: #A1C7E0;
    height: 120px;
}

.box2{
    background-color: #FF9933; 
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.texto{
    color: white;
}